<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row >
      <ion-col >
          <h1
            class="ion-text-center"
            style="font-size: 2.5rem;"
          >Cafetería Virtual</h1>
          <hr style="background: #C2C2C2;">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div
          class="ion-text-center"
          style="
            font-size: 2rem;
            padding: 8px;
          "
        >
          Cafeteria 1er Piso
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="4">
        <ion-button color="primary" routerLink="/products">ingresar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div
          class="ion-text-center"
          style="
            font-size: 2rem;
            padding: 8px;
          "
        >
          Cafeteria 3er Piso
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="4">
        <ion-button color="primary" >ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
