<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>pisos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row >
      <ion-col >
          <h3 class="ion-text-center">Cafetería Virtual</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-text-center"
        style="background-color: rgb(27, 239, 250);
        border: solid black 2px;
        font-size: 2.5rem;
        padding: 8px;">
          Cafeteria 1er Piso
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="4">
        <ion-button color="primary" routerLink="/products">ingresar</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="ion-text-center"
        style="background-color: aqua;
        border: solid black 2px;
        font-size: 2.5rem;
        padding: 8px;">
          Cafeteria 3er Piso
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col offset="4">
        <ion-button color="primary" >ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
