<ion-content >
  <div class="d-flex-center">
    <div class="auth-form">
      <div class="ion-text-end">
        <ion-button (click)="signOut()">
          Cerrar Sesion
        </ion-button>
      </div>

      <app-logo></app-logo>

      <h1 class="ion-text-center" style="color: #428cff;"><Strong>Pisos</Strong></h1>
      
      <div class="ion-text-center pisos marg-bot">
        Cafeteria 1er Piso
      </div>
      
      <ion-button color="primary" routerLink="/products" class="marg-bot">ingresar</ion-button>
      
      <div class="ion-text-center pisos marg-bot marg-top"
      >
        Cafeteria 3er Piso
      </div>
      
      <ion-button color="primary" >ingresar</ion-button>
      
    </div>
    </div>
</ion-content>
