<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-list-header>Cafetería Virtual</ion-list-header>
        <ion-note>info@cafeteriavirtual.com</ion-note>
        <ion-item
          *ngFor="let page of appPages; let i = index"
          routerDirection="root"
          [routerLink]="[page.url]"
          lines="none"
          [detail]="false"
          routerLinkActive="selected"
        >
          <ion-icon
            aria-hidden="true"
            slot="start"
            [ios]="page.icon + '-outline'" 
            [md]="page.icon + '-sharp'"
          ></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-content>
  </div>
</ion-app>
