.products {
    &__product {

        cursor: pointer;
        transition: opacity .25s ease;
    
        & + & {
            margin-top: .5rem;
            border-top: #C2C2C2 1px solid;
        }
    
        &:hover {
            opacity: .8;
        }

    }
}
.add_product {

    --border-radius: 3rem;
    --background: #00FF00;
    --color: white;
    font-weight: bold;
    font-size: 2rem;
}

.button-column {
    padding: 0;
    width: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1em;
}